@import url('https://fonts.googleapis.com/css?family=Anton');

.encompassing-wrapper{
    background: #213634;   
}

#scrolling-page-background-main{
    position: absolute;
    height: 100vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.scrolling-page-welcome-message{
    height: 400px;
    background: #64520077;
    border: 3px solid #1f1a0160;
    position: fixed;
    top: 100px;
    left: 200px;
    z-index: 5;
    width: 220px;
    transition: all 1.5s ease;
    cursor: pointer;
}

.scroll-page-welcome-message-text{
    font-size: 60px;
    line-height: 100px;
    height: 500px;
    width: 60px;
    background: #eeff0177;
    font-family: 'Anton';
}

.scrolling-page-image-wrapper{
    margin: 0 auto;
    z-index: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 80vw;
}

.scrolling-page-bar{
    position: absolute;
    width: 80vw;
    height: 8px;
    /* background: #213634; */
    background: #64520077;
    z-index: 10;
}

.scrolling-page-bar-indicator{
    background: #213634;
    height: 8px;
}

.scrolling-page-transition-item{
    position: absolute;
    height: 100vh;
    width: 80vw;
    background: rgba(255, 255, 255, 0.116);
}

.whitespace{
    height: 10000px;
}