@import url('https://fonts.googleapis.com/css?family=Anton');

.encompassing-wrapper{
    background: #213634;   
}

#scrolling-page-background-main{
    position: absolute;
    height: 100vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.scrolling-page-welcome-message{
    height: 400px;
    background: #64520077;
    border: 3px solid #1f1a0160;
    position: fixed;
    top: 100px;
    left: 200px;
    z-index: 5;
    width: 220px;
    transition: all 1.5s ease;
    cursor: pointer;
}

.scroll-page-welcome-message-text{
    font-size: 60px;
    line-height: 100px;
    height: 500px;
    width: 60px;
    background: #eeff0177;
    font-family: 'Anton';
}

.scrolling-page-image-wrapper{
    margin: 0 auto;
    z-index: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 80vw;
}

.scrolling-page-bar{
    position: absolute;
    width: 80vw;
    height: 8px;
    /* background: #213634; */
    background: #64520077;
    z-index: 10;
}

.scrolling-page-bar-indicator{
    background: #213634;
    height: 8px;
}

.scrolling-page-transition-item{
    position: absolute;
    height: 100vh;
    width: 80vw;
    background: rgba(255, 255, 255, 0.116);
}



.face1{
    background: url('https://i.imgur.com/0x64Ibp.jpg');
    background: rgba(255, 0, 0, 0.199);
}

.face3{
    background: url('https://i.imgur.com/pUrOLvy.jpg');
    background: rgba(206, 252, 0, 0.315);
}

.face5{
    background: url('https://i.imgur.com/rwM1QC0.jpg');
    background: rgba(17, 0, 255, 0.26);
}

.face7{
    background: url('https://i.imgur.com/DaZgS5w.jpg');
    background: rgba(0, 255, 21, 0.377);
}

.face9{
    background: url('https://i.imgur.com/byoFmod.jpg');
    background: rgba(255, 0, 0, 0.308);
}

.face10{
    background: url('https://i.imgur.com/AHcA3cD.jpg');
    background: rgba(55, 0, 255, 0.288);
}

.face11{
    background: url('https://i.imgur.com/NLjphCE.jpg');
    background: rgba(0, 132, 255, 0.267);
}

/* .face2{
    background: url('https://i.imgur.com/2zB0Dsw.jpg');
} */


/* .face4{
    background: url('https://i.imgur.com/cd8M27B.jpg');
} */

/* .face6{
    background: url('https://i.imgur.com/JI9fulp.jpg');
} */

/* .face8{
    background: url('https://i.imgur.com/M3JrnaZ.jpg');
} */

.whitespace{
    height: 10000px;
}