.face1{
    /* background: url('https://i.imgur.com/0x64Ibp.jpg'); */
    background: red;
}

.face3{
    /* background: url('https://i.imgur.com/pUrOLvy.jpg'); */
    background: green;
}

.face5{
    /* background: url('https://i.imgur.com/rwM1QC0.jpg'); */
    background: black;
}

.face7{
    /* background: url('https://i.imgur.com/DaZgS5w.jpg'); */
    background: blue;
}

.face9{
    /* background: url('https://i.imgur.com/byoFmod.jpg'); */
    background: red;
}

.face10{
    /* background: url('https://i.imgur.com/AHcA3cD.jpg'); */
    background: green;
}

.face11{
    /* background: url('https://i.imgur.com/NLjphCE.jpg'); */
    background: black;
}